<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Concussion Biomechanical Analytics{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <!-- Stats Ticker -->
    <div class="banner-container">
        <!-- Images will be dynamically added here via JavaScript -->
    </div>

    <!-- Modal container -->
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="caption"></div>
    </div>

    <!-- Divider Banner -->
    <div class="divider-banner"></div>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav-container">
            <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg"
                alt="NFL Logo" class="nfl-logo">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('biomechanics') }}">Biomechanics</a></li>
                <li><a href="{{ url_for('stats') }}">Findings</a></li>
                <li><a href="{{ url_for('visualizations') }}">Visualizations</a></li>
            </ul>
        </div>
    </nav>


    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/banner.js') }}"></script>
</body>

</html>