<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Concussion Biomechanical Analytics{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <!-- Stats Ticker -->
    <div class="banner-container">
        <!-- Images will be dynamically added here via JavaScript -->
    </div>

    <!-- Modal container -->
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="caption"></div>
    </div>

    <!-- Divider Banner -->
    <div class="divider-banner"></div>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav-container">
            <img src="https://static.www.nfl.com/image/upload/v1554321393/league/nvfr7ogywskqrfaiu38m.svg" alt="NFL Logo" class="nfl-logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Biomechanics</a></li>
                <li><a href="#">Stats</a></li>
                <li><a href="#">Visualizations</a></li>
            </ul>
        </div>
    </nav>


    <div class="content-container">
        <!-- Slide Show -->
        <div class="slideshow-container">
            <div class="slide fade">
                <img src="\static\images\fact.jpg" alt="Slide 1">
                <div class="text">This project is an investigation of concussions and the biomechanics
                    involved in plays that have led to concussions in the NFL.
                </div>
            </div>
        
            <div class="slide fade">
                <img src="\static\images\fact.jpg" alt="Slide 2">
                <div class="text">The purpose is to investigate high risk conditions that predictors for concussion injuries
                    to help identify players who may have suffered even a subconcussive injury. 
                </div>
            </div>
        
            <div class="slide fade">
                <img src="\static\images\fact.jpg" alt="Slide 3">
                <div class="text">The identification of high risk plays can be applied not only to football, but any sport
                    that allows for tracking the players movement in time, helping coaches and the players themselves seek 
                    medical attention when there aren't obvious signs of a concussion.
                </div>
            </div>

            <div class="slide fade">
                <img src="\static\images\fact.jpg" alt="Slide 2">
                <div class="text">Prevening these high risk situations can be done by manipulating the movement of players
                    to reduce the torque and impulse subjected to the players' heads in high-impact plays. 
                </div>
            </div>

            <div class="slide fade">
                <img src="\static\images\fact.jpg" alt="Slide 2">
                <div class="text">An additional outcome of this study can help identify higher risk players in the NFL, as 
                    players that sustain an injury one week that continue to play, are more likely to get seriously injured 
                    shortly after, without ample recovery time.
                </div>
            </div>
        
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>


        <!-- Injury Scraper -->
        <div class="injury-table-container">
            <table id="injury-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Team</th>
                        <th>Player</th>
                        <th>Position</th>
                        <th>Injury</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- This will be populated by JavaScript -->
                </tbody>
            </table>
        </div>




    </div>
    <!-- Your main content goes here -->

    <script src="{{ url_for('static', filename='js/banner.js') }}"></script>
    <script src="{{ url_for('static', filename='js/indexPage.js') }}"></script>
</body>

</html>


